<!DOCTYPE html>
<html>
    <head>
        <title> unnamed proj. </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
            <div class="welcome">
                <h1>Welcome to Unnamed Project</h1>
                <h1>Welcome to Unnamed Project</h1>
            </div>
    <center>
            <p><font size="+2">Please Upload a File and Click Submit:</font></p>

            <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
            </form>
    </center>
    
    </body>
</html>