<!DOCTYPE html>
<html>
    <head>
        <title> unnamed proj. </title>
        <center><h1 style=font-size:56px>WELCOME TO unnamed <h1></center>
    </head>
    <body style="background-color:lightblue">
        <center>
        <p><font size="+2">Please Upload a File and Click Submit:</font></p>

        <!-- <form action="/action_page.php"> -->
        <form action="/upload_file" method = "get">
            <input type="file"  id="file" value = 'files'>
            <input type="button" id = "btnSubmit" name = "submit" value = "submit">
            <script>
                const btnSubmit = document.getElementById("btnSubmit");
                const file = document.getElementById("file");
                String text;
                btnSubmit.addEventListener("click", ()=>{
                    const formData = new FormData();
                    formdata.append("pdfFile", file.files[0]);

                    fetch("/extract-text", {
                        method: "post:"
                        body: formData
                    }
                ).then(response=> {
                    return response.text();
                }).then(extractedText => {
                    text  = extractedText
                });
            });

            </script>    

          
           
        </form>
        
         
    </center>



    <table>
        <tr>
            <th>Title</th>
            <th>Topic</th>
            <th>Summary</th>
        </tr>
        {% for i in res %}
            <tr>
                <th>{{i[1]}}</th>
                <th>{{i[2]}}</th>
                <th>{{i[3]}}</th>
            </tr>
        {% endfor %}
    </table>
    
    </body>
</html>